<app-generic-layout class="desktop" [width]="450">
  <ng-template [ngTemplateOutlet]="loginForm"></ng-template>
</app-generic-layout>

<app-generic-layout class="mobile">
  <ng-template [ngTemplateOutlet]="loginForm"></ng-template>
</app-generic-layout>

<ng-template #loginForm>
  <section>
    <h2>Log in to Stock Trading</h2>
    <form [formGroup]="formGroup" (submit)="submit()">
      <mat-form-field
        [class.error]="
          formGroup.controls.username.errors &&
          formGroup.controls.username.touched
        "
      >
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field
        [class.error]="
          formGroup.controls.password.errors &&
          formGroup.controls.password.touched
        "
      >
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid || !formGroup.dirty"
      >
        Log In
      </button>
    </form>
    <span
      >Don't have an account? Sign up
      <span class="text-link" (click)="goToSignUpPage()">here</span></span
    >
  </section>
</ng-template>
